@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
	font-family: arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0,0,0,1); /*tratamento da cor de fundo e cor do background em CSS3*/

}

video#filme1{
	display: block;
	position: relative;
	left: 25px;
	top: -5px;
	width: 440px;
	border: 5px solid white;
	box-shadow: 1px 1px 4px black;
}


video#filme2{
	display: block;
	position: relative;
	left: 0px;
	top: 10px;
	width: 340px;
	border: 5px solid white;
	box-shadow: 1px 1px 4px black;
}

div#interface {
	width: 900px;  /*largura*/
	background-color: #ffffff; /*cor de fundo*/
	margin: -20px auto 0px auto; /*Margem*/
	box-shadow: 0px 0px 10px black; /*sobra ao redor*/
	padding: 10px; /*espaçamento interno para descolar o texto da margem*/
}

p {
	text-align: justify;
	text-indent: 50px;
}

a {
	color: #606060;  /*formatação dos links*/
	text-decoration: none;
}

a:hover {
	text-decoration: underline;  /*decoração dos links com underline*/
}

header#cabecalho img#icone {  /*imagem oculos pretompequeno*/
	position: absolute;
	left: 950px;      /*alinhamento iamgem a esquerda*/
	top: 70px;

}

header#cabecalho {
	border-bottom: 1px #606060 solid; /*largura da borda que separa meu cabecalho e cor*/
	height: 150px;
	background:url("../_imagens/glass-logo-peq.jpg") no-repeat 0pc 80px ;
}

header#cabecalho h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

/*Formatação*/

figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;

}

figure.foto-legenda img{
	width: 100%;
	height:100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height:100%;
	padding:10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/*formatação do Menu*/

nav#menu{
	display: block;
}

nav#menu ol {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 450px;  /*Alocação dos botoes do menu a esquerda*/
}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #606060; /*cor dos botoes do menu ao passar o cursor do mouse*/
}

nav#menu h1{
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover {  /*cor das letras do menu e efeito sublinhado ao passar o cursor do mouse*/
	color: white;
	text-decoration: underline;
}

section#corpo{
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060; /*Linha Lateral Direita na página sólida*/
	padding-right: 15px;
}

article#noticia-principal h2 {  /*artigo principal, editando todos h2*/
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
}

.direita {
	text-align: right;
}

header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

header#cabecalho-artigo h3 {
	font-size: 12px;
	color: #606060;
}

table#tabelaspec {
	border: 1px solid #606060; /*borda da tabela*/
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px; /*configurando o espaço interno da tabela*/
	text-align: middle;
}

table#tabelaspec td.ce{  /*formatação da minha classe ce=*/
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
	text-align: right;

}

table#tabelaspec td.cd{  /*formatação da minha classe ce*/
	background-color: #cecece;

}

table#tabelaspec caption{
	color: #888888;
	font-size 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span{ /*utilizando a tag span o campo data pode ser configurado e alterando a margem posso gruda-lo na tabela abaixo*/
	display: block;
	float: right;
	color: #606060;
	font-size: 8pt;
	margin-top: 10pt;
}

aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 14px;
	margin: top 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
}

footer#rodape{
	clear: both;
	border-top: 1px solid #606060; /*Linda do Rodapé com mesma cor utilizada*/

}

footer#rodape p {
	text-align: center;
}